syntax:glob
aclocal.m4
autom4te*
config.cache
config.log
config.status
Makefile
sdl-config
SDL2.spec
build
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

dist/LastDitch

#extra
test/controllermap
test/testdrawchessboard
test/testdropfile
test/testhotplug
test/testviewport

test/*.bc
test/*.js
test/*.html
test/*.data
test/*.html.map

Makefile.rules
libtool
sdl2-config
sdl2.pc
