[
    Block(
        kind: Air,
        opacity: 0.0,
        color: (1.0, 1.0, 1.0, 1.0),
    ),
    Block(
        kind: Wood,
        opacity: 1.0,
        color: (0.6, 0.3, 0.4, 1.0),
    ),
    Block(
        kind: Metal,
        opacity: 1.0,
        color: (0.1, 0.2, 0.4, 1.0),
    ),
    Block(
        kind: Concrete,
        opacity: 1.0,
        color: (0.8, 0.6, 0.7, 1.0),
    ),
]