{
    "swastika": Structure(
        size: [4, 4, 4],
        blocks: [
            BlockData(kind: Wood, position: [-1, -1, 0]),
            BlockData(kind: Wood, position: [-2, -1, 0]),
            BlockData(kind: Wood, position: [-3, -1, 0]),
            BlockData(kind: Wood, position: [-4, -1, 0]),
            BlockData(kind: Wood, position: [-4, -1, -1]),
            BlockData(kind: Wood, position: [-4, -1, -2]),
            BlockData(kind: Wood, position: [-4, -1, -3]),
            BlockData(kind: Wood, position: [-4, -1, -4]),
            BlockData(kind: Wood, position: [0, -1, -1]),
            BlockData(kind: Wood, position: [0, -1, -2]),
            BlockData(kind: Wood, position: [0, -1, -3]),
            BlockData(kind: Wood, position: [0, -1, -4]),
            BlockData(kind: Wood, position: [1, -1, -4]),
            BlockData(kind: Wood, position: [2, -1, -4]),
            BlockData(kind: Wood, position: [3, -1, -4]),
            BlockData(kind: Wood, position: [4, -1, -4]),

            BlockData(kind: Metal, position: [2, -1, 2]),
            BlockData(kind: Metal, position: [-2, -1, 2]),

            BlockData(kind: Concrete, position: [0, -1, 0]),

            BlockData(kind: Metal, position: [2, -1, -2]),
            BlockData(kind: Metal, position: [-2, -1, -2]),

            BlockData(kind: Wood, position: [0, -1, 1]),
            BlockData(kind: Wood, position: [0, -1, 2]),
            BlockData(kind: Wood, position: [0, -1, 3]),
            BlockData(kind: Wood, position: [0, -1, 4]),
            BlockData(kind: Wood, position: [-1, -1, 4]),
            BlockData(kind: Wood, position: [-2, -1, 4]),
            BlockData(kind: Wood, position: [-3, -1, 4]),
            BlockData(kind: Wood, position: [-4, -1, 4]),
            BlockData(kind: Wood, position: [1, -1, 0]),
            BlockData(kind: Wood, position: [2, -1, 0]),
            BlockData(kind: Wood, position: [3, -1, 0]),
            BlockData(kind: Wood, position: [4, -1, 0]),
            BlockData(kind: Wood, position: [4, -1, 1]),
            BlockData(kind: Wood, position: [4, -1, 2]),
            BlockData(kind: Wood, position: [4, -1, 3]),
            BlockData(kind: Wood, position: [4, -1, 4]),
        ],
    ),
}