[
    Block(
        kind: Empty,
        solid: false,
        opacity: 0.0,
        emittance: 0,
    ),
    Block(
        kind: Engraved1,
        solid: true,
        opacity: 1.0,
        emittance: 0,
    ),
    Block(
        kind: Engraved2,
        solid: true,
        opacity: 1.0,
        emittance: 0,
    ),
    Block(
        kind: Stone1,
        solid: true,
        opacity: 1.0,
        emittance: 0,
    ),
    Block(
        kind: Stone2,
        solid: true,
        opacity: 1.0,
        emittance: 0,
    ),
    Block(
        kind: Polished1,
        solid: true,
        opacity: 1.0,
        emittance: 0,
    ),
    Block(
        kind: Polished2,
        solid: true,
        opacity: 1.0,
        emittance: 0,
    ),
    Block(
        kind: MagentaStone,
        solid: true,
        opacity: 1.0,
        emittance: 0,
    ),
    Block(
        kind: PurpleStone,
        solid: true,
        opacity: 1.0,
        emittance: 0,
    ),
    Block(
        kind: TealStone,
        solid: true,
        opacity: 1.0,
        emittance: 0,
    ),
    Block(
        kind: CrimsonStone,
        solid: true,
        opacity: 1.0,
        emittance: 0,
    ),
    Block(
        kind: Icon1,
        solid: true,
        opacity: 1.0,
        emittance: 0,
    ),
    Block(
        kind: Icon2,
        solid: true,
        opacity: 1.0,
        emittance: 0,
    ),
    Block(
        kind: Icon3,
        solid: true,
        opacity: 1.0,
        emittance: 0,
    ),
    Block(
        kind: Icon4,
        solid: true,
        opacity: 1.0,
        emittance: 0,
    ),
    Block(
        kind: North,
        solid: true,
        opacity: 1.0,
        emittance: 0,
    ),
    Block(
        kind: West,
        solid: true,
        opacity: 1.0,
        emittance: 0,
    ),
    Block(
        kind: South,
        solid: true,
        opacity: 1.0,
        emittance: 0,
    ),
    Block(
        kind: East,
        solid: true,
        opacity: 1.0,
        emittance: 0,
    ),
]