[
    Block(
        kind: Air,
        solid: false,
        opacity: 0.0,
        emittance: 0,
    ),
    Block(
        kind: Engraved1,
        solid: true,
        opacity: 1.0,
        emittance: 0,
    ),
    Block(
        kind: Engraved2,
        solid: true,
        opacity: 1.0,
        emittance: 0,
    ),
    Block(
        kind: Stone1,
        solid: true,
        opacity: 1.0,
        emittance: 0,
    ),
    Block(
        kind: Stone2,
        solid: true,
        opacity: 1.0,
        emittance: 0,
    ),
]