[
    BlockData(
        kind: Engraved1,
        tile_position_map: {
            XpYoZo: (0, 0),
            XnYoZo: (0, 0),
            XoYpZo: (0, 0),
            XoYnZo: (0, 0),
            XoYoZp: (0, 0),
            XoYoZn: (0, 0),
        },
    ),
    BlockData(
        kind: Engraved2,
        tile_position_map: {
            XpYoZo: (1, 0),
            XnYoZo: (1, 0),
            XoYpZo: (1, 0),
            XoYnZo: (1, 0),
            XoYoZp: (1, 0),
            XoYoZn: (1, 0),
        },
    ),
    BlockData(
        kind: Stone1,
        tile_position_map: {
            XpYoZo: (0, 1),
            XnYoZo: (0, 1),
            XoYpZo: (0, 1),
            XoYnZo: (0, 1),
            XoYoZp: (0, 1),
            XoYoZn: (0, 1),
        },
    ),
    BlockData(
        kind: Stone2,
        tile_position_map: {
            XpYoZo: (1, 1),
            XnYoZo: (1, 1),
            XoYpZo: (1, 1),
            XoYnZo: (1, 1),
            XoYoZp: (1, 1),
            XoYoZn: (1, 1),
        },
    ),
    BlockData(
        kind: Polished1,
        tile_position_map: {
            XpYoZo: (0, 2),
            XnYoZo: (0, 2),
            XoYpZo: (0, 2),
            XoYnZo: (0, 2),
            XoYoZp: (0, 2),
            XoYoZn: (0, 2),
        },
    ),
    BlockData(
        kind: Polished2,
        tile_position_map: {
            XpYoZo: (1, 2),
            XnYoZo: (1, 2),
            XoYpZo: (1, 2),
            XoYnZo: (1, 2),
            XoYoZp: (1, 2),
            XoYoZn: (1, 2),
        },
    ),
    BlockData(
        kind: Origin,
        tile_position_map: {
            XpYoZo: (0, 4),
            XnYoZo: (0, 4),
            XoYpZo: (0, 4),
            XoYnZo: (0, 4),
            XoYoZp: (0, 4),
            XoYoZn: (0, 4),
        },
    ),
    BlockData(
        kind: Icon1,
        tile_position_map: {
            XpYoZo: (0, 3),
            XnYoZo: (0, 3),
            XoYpZo: (0, 3),
            XoYnZo: (0, 3),
            XoYoZp: (0, 3),
            XoYoZn: (0, 3),
        },
    ),
    BlockData(
        kind: Icon2,
        tile_position_map: {
            XpYoZo: (1, 3),
            XnYoZo: (1, 3),
            XoYpZo: (1, 3),
            XoYnZo: (1, 3),
            XoYoZp: (1, 3),
            XoYoZn: (1, 3),
        },
    ),
    BlockData(
        kind: Icon3,
        tile_position_map: {
            XpYoZo: (2, 3),
            XnYoZo: (2, 3),
            XoYpZo: (2, 3),
            XoYnZo: (2, 3),
            XoYoZp: (2, 3),
            XoYoZn: (2, 3),
        },
    ),
    BlockData(
        kind: Icon4,
        tile_position_map: {
            XpYoZo: (3, 3),
            XnYoZo: (3, 3),
            XoYpZo: (3, 3),
            XoYnZo: (3, 3),
            XoYoZp: (3, 3),
            XoYoZn: (3, 3),
        },
    ),
]