[
    GPUBlock(
        kind: Engraved1,
        atlas_coordinates: {
            XpYoZo: (0, 0),
            XnYoZo: (0, 0),
            XoYpZo: (0, 0),
            XoYnZo: (0, 0),
            XoYoZp: (0, 0),
            XoYoZn: (0, 0),
        },
    ),
    GPUBlock(
        kind: Engraved2,
        atlas_coordinates: {
            XpYoZo: (1, 0),
            XnYoZo: (1, 0),
            XoYpZo: (1, 0),
            XoYnZo: (1, 0),
            XoYoZp: (1, 0),
            XoYoZn: (1, 0),
        },
    ),
    GPUBlock(
        kind: Stone1,
        atlas_coordinates: {
            XpYoZo: (0, 1),
            XnYoZo: (0, 1),
            XoYpZo: (0, 1),
            XoYnZo: (0, 1),
            XoYoZp: (0, 1),
            XoYoZn: (0, 1),
        },
    ),
    GPUBlock(
        kind: Stone2,
        atlas_coordinates: {
            XpYoZo: (1, 1),
            XnYoZo: (1, 1),
            XoYpZo: (1, 1),
            XoYnZo: (1, 1),
            XoYoZp: (1, 1),
            XoYoZn: (1, 1),
        },
    ),
]